/** @format */

.react-photo-gallery--gallery {
    div {
        img {

        }
    }
}

.user {
	display: grid;
	grid-template-columns: 1fr repeat(2, min-content) 1fr;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-style: solid;
    border-top: none;
    border-color: $color-primary-xtra-light;
    overflow: hidden;
    background-color: rgba($color-primary, 0.5);
    margin-bottom: 3rem;

	&__icon {
		grid-column: 1 / 2;
        width: 100px;
        height: 100px;
        display: grid;
        justify-content: center;
        align-content: center;
        
        margin-left: 2rem;
	}

    &__text {
		grid-column: 3 / 4;
        height: 100px;
        display: grid;
        justify-content: center;
        align-content: center;
        padding: 3rem;
	}
}
