/*
    0-600px:        phone
    600-900px:      tablet portrait
    900-1200px      tablet landscape
    1800+           desktop-L
    
    $breakpointargument choices:
        -phone
        -tab-port
        -tab-land
        -desktop-L
        
ORDER: Base + typography > general layout + grid > page layout > components
*/
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body > #root > div {
  height: 100vh;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  background-color: #100f24;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #fff;
  line-height: 1.7;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-s {
  margin-bottom: 1.5rem !important;
}

@media (max-width: 56.25em) {
  .u-margin-bottom-s {
    margin-bottom: 1rem !important;
  }
}

.u-margin-bottom-m {
  margin-bottom: 4rem !important;
}

@media (max-width: 56.25em) {
  .u-margin-bottom-m {
    margin-bottom: 2rem !important;
  }
}

.u-margin-bottom-l {
  margin-bottom: 8rem !important;
}

@media (max-width: 56.25em) {
  .u-margin-bottom-l {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-s {
  margin-top: 1.5rem !important;
}

@media (max-width: 56.25em) {
  .u-margin-top-s {
    margin-top: 1rem !important;
  }
}

.u-margin-top-m {
  margin-top: 4rem !important;
}

@media (max-width: 56.25em) {
  .u-margin-top-m {
    margin-top: 2rem !important;
  }
}

.u-margin-top-l {
  margin-top: 8rem !important;
}

@media (max-width: 56.25em) {
  .u-margin-top-l {
    margin-top: 3rem !important;
  }
}

.u-margin-top-xl {
  margin-top: 10rem !important;
}

@media (max-width: 56.25em) {
  .u-margin-top-xl {
    margin-top: 4rem !important;
  }
}

/** @format */
.view {
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  background-color: #100f24;
  z-index: 1;
}

.viewbox {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(185, 151, 218, 0.2)), to(rgba(21, 17, 39, 0.6))), url(../BG.png);
  background-image: linear-gradient(to bottom, rgba(185, 151, 218, 0.2), rgba(21, 17, 39, 0.6)), url(../BG.png);
  background-attachment: fixed;
  border-radius: 2px;
  overflow-y: auto;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.viewbox::-webkit-scrollbar {
  width: 3px;
}

.viewbox::-webkit-scrollbar-track {
  background: #6698d1;
}

.viewbox::-webkit-scrollbar-thumb {
  background: #eee;
}

.viewbox::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 8rem 1fr;
      grid-template-rows: 8rem 1fr;
  width: 80%;
  height: 100%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.username {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 12rem;
  position: relative;
  max-width: 40rem;
}

.username__icon {
  position: absolute;
  top: 50%;
  left: 3%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 10;
}

.username__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 1.5rem;
}

.username__background {
  background-color: rgba(197, 197, 219, 0.4);
  height: 5rem;
  width: 40rem;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 1;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.splash {
  position: relative;
  top: 0;
  width: 100%;
  background-color: rgba(16, 15, 36, 0.4);
  height: 13rem;
  z-index: 0;
  border-bottom: solid 1rem rgba(16, 15, 36, 0.2);
}

.gallery__selector {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr (1fr)[3] 1fr;
      grid-template-columns: 1fr repeat(3, 1fr) 1fr;
}

.gallery__selector--title {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.gallery__selector--btn {
  padding: 0;
  margin: 0;
  border-radius: 2px;
  border: none;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */