/** @format */

/** @format */

.traits {
	width: 70%;
	height: 100%;
	padding: 2rem;
	padding-bottom: 2rem;
	justify-self: center;
	border-radius: 5px;

	display: grid;
	grid-template-rows: 1fr min-content min-content;
	grid-template-columns: 1fr;
	justify-content: stretch;
	justify-items: center;
	align-content: center;

	@media only screen and (max-width: $bp-l) {
		width: 100%;
	}

	&__display {
		width: 100%;
		background-color: rgba(black, 0.5);
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		@include border-dark;
		border-bottom-style: none;
		grid-row: 1 / 2;
		background-size: 150px;
		position: relative;
		padding: 2rem;

		display: grid;
		justify-content: center;
		align-items: center;

		&--canvas {
			position: relative;
			z-index: 2;
		}

		&--bg {
			width: 100%;
			height: 30%;
			// background-color: rgba($color-primary-light, 0.5);
			position: absolute;
			@include center-position;
			z-index: 1;
		}

		&--randomise {
			background-color: rgba($color-primary-light, 0.3);
			border: none;
			border-radius: 3px;
			position: absolute;
			padding: 0.5rem 2rem;
			color: white;
			top: 2rem;
			right: 2rem;
			font-size: 16px;
			font-weight: 500;
			cursor: pointer;
			z-index: 10;
		}

		&--randomise:hover {
			background-color: rgba($color-primary-xtra-light, 0.4);
		}
	}

	&__select {
		width: 100%;
		background-color: $color-primary-xtra-dark;
		padding: 1rem;
		margin: 0;

		display: flex;
		justify-content: start;
		align-content: center;

		&--selection {
			margin: 0;
			min-width: 8rem;
			margin-right: 1rem;
			text-align: center;
		}

		h4 {
			padding: 0 1rem;
		}
		h5 {
			padding: 0 2rem;
			margin: 0.5rem;
			background-color: $color-primary;
			border-radius: 5px;
		}
	}

	&__window {
		height: 100%;
		min-width: 100%;
		display: grid;
		grid-template-columns: 10rem 1fr;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
		overflow: hidden;

		&--nav {
			width: 100%;
			text-align: center;
			overflow: hidden;
			@include border-dark;
			border-top: none;
			background-color: $color-primary-xtra-dark;

			display: flex;
			flex-direction: column;

			&-content {
				padding: 1rem;
				min-width: 50%;
				height: 100%;
				content: '';
				border-radius: 4px;
				background-image: linear-gradient(
					to bottom,
					rgba($color-primary-light, 0.9),
					rgba($color-primary, 0.9)
				);
				border-radius: 4px;

				display: flex;
				flex-direction: column;

				img {
					width: 100%;
					margin-bottom: 2rem;
				}
			}
		}

		&--info {
			@include border-dark;
			border-top: none;
			border-left: none;

			display: grid;
			grid-template-columns: 1fr 20rem;

			&-options {
				width: 100%;
				height: 100%;
				background-color: rgba($color-primary-xtra-dark, 0.4);
				@include border-dark;
				border-top: none;
				border-bottom: none;
				border-left: none;
				overflow: hidden;

				display: flex;
				flex-direction: column;

				&-box {
					width: 100%;
					height: 15rem;
					margin: 1rem;
					padding: 0 3rem;

					display: grid;
					overflow: auto;
					grid-template-columns: repeat(auto-fit, 6rem);
					grid-gap: 2rem;
					grid-auto-flow: row;
					grid-auto-rows: 6rem;
					margin: 2rem 0;
					justify-content: center;
					align-content: start;

					.unmutated {
						background-color: rgba($color-primary-xtra-light, 0.2);
					}

					.uncommon {
						background-color: rgba($color-uncommon, 0.2);
					}

					.rare {
						background-color: rgba($color-rare, 0.2);
					}

					img {
						max-height: 66px;
						border-radius: 5px;
						border-style: solid;
						border-width: 4px;
						border-color: rgba($color-primary-xtra-dark, 0.5);

						&:hover {
							cursor: pointer;
						}
					}
				}

				/* width */
				&-box::-webkit-scrollbar {
					height: 4px;
					width: 4px;
				}

				/* Track */
				&-box::-webkit-scrollbar-track {
					background: #2f375e;
				}

				/* Handle */
				&-box::-webkit-scrollbar-thumb {
					background: rgb(230, 238, 255);
					border-radius: 5px;
				}

				/* Handle on hover */
				&-box::-webkit-scrollbar-thumb:hover {
					background: rgb(255, 255, 255);
				}
				grid-template-rows: 8rem 8rem;
				grid-auto-flow: column;
				grid-auto-columns: 8rem;

				&-variants {
					height: 60%;
					margin: 1rem 2rem;

					display: flex;
					flex-direction: column;

					label {
						background-color: rgba($color-primary-xtra-light, 0.2);
						margin: 1rem;
						padding: 0.5rem 2rem;
						display: flex;
						justify-content: space-between;
						align-items: center;

						select {
							.uncommon {
								color: $color-uncommon !important;
							}
	
							.rare {
								color: $color-rare;
							}
						}
					}
				}
			}

			&-details {
				background-color: rgba(black, 0.5);
				box-shadow: 0 0 0 5px $color-primary-xtra-dark;
				border-top-right-radius: 3px;
				border-bottom-right-radius: 3px;
				padding: 1rem;
				display: grid;
				grid-template-columns: 2rem 1fr 1fr 2rem;
				grid-template-rows: min-content repeat(4, min-content);
				overflow: hidden;
				text-align: center;

				.uncommon {
					color: $color-uncommon !important;
				}

				.rare {
					color: $color-rare;
				}

				p {
					grid-column: 1 /-1;
					justify-self: center;
				}

				&-type {
					grid-row: 1 / 2;
					grid-column: 1 / -1;

					padding-bottom: 2rem;
					justify-self: center;

					display: flex;
					flex-direction: column;

					p {
						font-size: 13px;
						font-style: italic;
						text-align: center;
					}
				}

				.trait-detail {
					grid-column: 2 / 4;
					display: flex;
					justify-content: space-between;
					div {
						padding: 1rem;
					}
				}
			}
		}
	}
}
