/** @format */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: $default-font-size;
	color: #fff;
	line-height: 1.7;
}

h3 {
	font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

h4 {
	font-weight: 500;
}

h5 {
	font-weight: 500;
	padding: 0;
	margin: 0;
}

.paragraph {
	font-size: $default-font-size;

	&:not(:last-child) {
		margin-bottom: 3rem;
	}
}
